<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>News Online</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
  <div id="banner">
    <%= @page_title || "Welcome to News Online" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://www....">Home</a><br />
      <a href="http://www..../faq">Questions</a><br />
      <a href="http://www..../news">News for "News Online"</a><br />
      <a href="http://www..../contact">Contact</a><br />
     <a> <%= DateTime.now.strftime("%d/%m/%Y, %H:%M:%S") %> </a>
       <div id="cart">
       <%= render @cart if @cart %>
    
  </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>

